@font-face {
    font-family: 'Exo2';
    src: url('../fonts/Exo-Black.woff2') format('woff2'),
         url('../fonts/Exo-Black.woff') format('woff');
}

body {
    font-family: 'Exo2', cursive, sans-serif;
}

