@font-face {
    font-family: 'Exo2';
    src: url('../fonts/Exo-BoldItalic.woff2') format('woff2'),
         url('../fonts/Exo-BoldItalic.woff') format('woff');
}

body {
    font-family: 'Exo2', fallbackFont, Franklin Gothic Medium;
}

